<!DOCTYPE html>
<html>


<head>
  <title>Crawler ON/OFF</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  </script>
  <div>
    <h>CRAWLER CONTROL</h>
    <p>ON/OFF</p>
    <button id="onButton">Toggle</button>
    {{!-- <p>OFF</p>
    <button id="offButton">turn off</button> --}}
  </div>
  <script src="./client.js"></script>
</body>

</html>